<h1>Lista de Productos</h1>
<div class="contenedor-productos">
  {{#each products}}
    <div class="producto">
      <h3>{{title}}</h3>
      <p>{{description}}</p>
      <p>Precio: ${{price}}</p>
      <p>Stock: {{stock}}</p>
      <p>Código: {{code}}</p>
      <p>Categoría: {{category}}</p>
      <p>Thumbnails: {{thumbnails}}</p>
    </div>
  {{/each}}
</div>